.benefits-con {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f9f9f9;
  text-align: center;
  /* border: 1px solid red; */
}
.benefits-con h2 {
  padding: 25px 0;
  color: #000;
  font-family: Gilroy-bold;
  font-size: 46.386px;
  font-style: normal;
  font-weight: 800;
  line-height: 50.346px;
  text-transform: uppercase;
}
.benefits-con span {
  color: #75bf7a;
}
.box ,.box-mid{
  max-width: 1060px;
  height: 304px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px 56px 145px;
}
.box-mid{
    margin-left: 230px ;
}
.box div h4:nth-child(1) ,.box-mid div h4:nth-child(1){
  color: #75bf7a;
  font-family: Gilroy-light;
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  line-height: 118.8px; /* 135% */
  display: inline-block;
  margin-right: 20px;
}
.box div h4:nth-child(2) , .box-mid div h4:nth-child(2){
  color: #000;
  font-family: Gilroy-light;
  font-size: 33.943px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 95.749% */
  display: inline-block;
  text-align: start;
}
.box div p {
  color: #9e9da2;
  font-family: Gilroy-light;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
  text-align: start;
}

@media screen and (max-width: 1262px) {
  .box {
    flex-direction: column;
    height: auto;
    min-width: 320px !important;
    margin: 15px;
    padding: 10px;
  }
  .box-mid {
    flex-direction: column-reverse;
    height: auto;
    min-width: 320px !important;
    margin: 15px;
    padding: 10px;
  }
}
